[submodule "auction-management-microservice"]
	path = auction-management-microservice
	url = https://github.com/tanfust/auction-management-microservice.git
[submodule "user-management-microservice"]
	path = user-management-microservice
	url = https://github.com/tanfust/user-management-microservice.git
[submodule "Blog-management-microservice"]
	path = Blog-management-microservice
	url = https://github.com/tanfust/Blog-management-microservice.git
[submodule "order-management-microservice"]
	path = order-management-microservice
	url = https://github.com/tanfust/order-management-microservice
[submodule "artlab-client"]
	path = artlab-client
	url = https://github.com/tanfust/artlab-client
[submodule "Gallery-management-microservice"]
	path = Gallery-management-microservice
	url = https://github.com/tanfust/Gallery-management-microservice.git
[submodule "event-management-microservice"]
	path = event-management-microservice
	url = https://github.com/tanfust/event-management-microservice.git
